header{
	height:8em;
}
.navbar .menu-hamburger{
	width:6em;
}
.nav-links{
	height:50em;
	top:8em;
}
.navbar li a{
	text-decoration:none;
	position:relative;
	color:white;
	font-family:LeagueSpartan;
	font-size: 2em;
	margin-left:1.25em;
	margin-right:1.25em;
	padding-top:1em;
	padding-bottom:1em;
	transition: 0.5s ease;
	width:100%;
}
.navbar .nav-links li{
		display:flex;
		align-items:center;
		width:22.5em;
		text-align:center;
		justify-content:center;
}
p{
	font-family:LeagueSpartan;
	font-size:1.5em;
	color:#a6a6a6;
	margin-top:0.25em;
}
.text{
	font-size:1.5em;
}
.logo-title{
	font-size:1.75em;
}
h1{
	font-size:2.5em;
}
.download{
	background:#ff5050;
	border:0.1em solid #ff5050;
	width:20em;
	height:3em;
	color:white;
	font-family:LeagueSpartan;
	position:relative;
	margin-top:1em;
	border-radius:2em;
	line-height:3em;
	transition:0.5s;
	font-size:1.5em;
	cursor:pointer;
	margin:0;
	margin-top:3em;
}
.download:hover{
	color:white;
	background-color:#db4444;
	border-color:#db4444;
	width:22em;
	transition: all 0.5s ease;
}
span button{
	margin-bottom:1em;
	background-color:#ffc718;
	color:black;
	border:none;
	border-radius:1em;
	width:12.5em;
	height:3em;
	font-family:LeagueSpartan;
	font-size:1.5em;
	text-align:center;
	line-height:3em;
	box-sizing: border-box;
}
.contain-contact p{
	color:black;
	font-family:LeagueSpartan;
	font-size:1.5em;
	color:white;
	height:1.5em;
}
.datas{
	display:flex;
	flex-direction:column;
}
.datas input{
	height:3em;
	font-family:LeagueSpartan;
	border-radius:0.5em;
	border: 0.1em solid #ccc;
	box-shadow: inset 0 0.1em 0.1em rgba(0, 0, 0, .075);
	padding:0.5em;
	background-color:white;
	margin-bottom:1em;
	width:100%;
	font-size:1.5em;
	box-sizing: border-box;
}
textarea{
	border:none;
	font-family:LeagueSpartan;
	border-radius:0.5em;
	resize:none;
	border:0.1em solid #ccc;
	box-shadow:inset 0 0.1em 0.1em rgba(0, 0, 0, .075);
	padding:0.5em;
	color:black;
	font-size:1.5em;
	height:10em;
	margin-bottom:1em;
}
.mail{
	width:100%;
	align-items:left;
	display:flex;
	flex-direction:column;
	position:relative;
	padding:0;
	height:auto;
}
.mail .send{
	height:3em;
	background-color:#ffc718;
	border:none;
	color:white;
	font-family:LeagueSpartan;
	width:10em;
	font-size:2em;
	box-sizing:border-box;
}
h3{
	font-family:LeagueSpartan;
	color:black;
	font-size:1.5em;
	position:relative;
	text-align:center;
	margin-top:8em;
	font-weight:lighter;
	width:80%;
	left:50%;
	transform:translateX(-50%);
}
h2{
	font-size:1.5em;
}
footer{
	position: relative;
	background-color:#2b2b2b;
	width:100%;
	height:5em;
	z-index:1;
	display:flex;
	justify-content:center;
	align-items:center;
}
.contain-text{
	z-index:1;
	display:flex;
	flex-direction:column;
	padding:1em;
	border-radius:1em;
	height:100%;
	justify-content:space-between;
	background-color:rgba(0,0,0,0.5);
}
.contain-text p{
	margin:0;
}
.title{
	color:white;
	font-family:AnteriSignature;
	font-size:5em;
	margin:0.25em;
	width:8em;
}
.subtitle{
	font-family:LeagueSpartan;
	color:#a6a6a6;
	font-size:2em;
	margin:1em;
}
body{
	overflow-x:hidden;
}
.top{
	margin-top:1em;
}
