body{
	margin:0;
	background-color:#f6f6f6;
	margin-top:4rem;
	overflow-x:hidden;
	overflow-y:scroll;
}

header{
	position: fixed;
	background-color:#2b2b2b;
	width:100%;
	height:4rem;
	top:0;
	z-index:2;
	margin:0;
	transition:0.5s ease-in-out;
}
.navbar{
	position:absolute;
	width:100%;
	top:50%;
	transform:translateY(-50%);
	height:100%;
}
.navbar li a{
	text-decoration:none;
	position:relative;
	color:white;
	font-family:LeagueSpartan;
	font-size: 1rem;
	margin-left:1.25rem;
	margin-right:1.25rem;
	padding-top:1rem;
	padding-bottom:1rem;
	transition: 0.5s ease;
	width:100%;
}
.navbar li:hover{
	color:black;
	background-color:white;
	transition: all 0.5s ease;
}
.navbar li:hover a{
	color:black;
	transition: all 0.5s ease;
}
.navbar .nav-links ul{
	display:flex;
	list-style-type:none;
	position:absolute;
	justify-content:center;
	align-items:center;
	height:100%;
	width:100%;
	position:absolute;
	margin:0;
	left:50%;
	transform:translateX(-50%);
}
.navbar li{
	height:100%;
	align-items:center;
	display:flex;
	transition: all 0.5s ease;
}
.navbar .menu-hamburger{
	display:none;
	z-index:1;
}
@media screen and (max-width:1000px){
	.navbar .menu-hamburger{
		display: block;
		width:3.5rem;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		cursor:pointer;
	}
	.open{
		display:block;
		width:100%;
		height:100%;
	}
	.close{
		display:none;
		width:100%;
		height:100%;
	}
	.toggle .open{
		display:none;
		width:100%;
		height:100%;
	}
	.toggle .close{
		display:block;
		width:100%;
		height:100%;
	}
	.nav-links{
		position:absolute;
		background-color:rgba(45,45,45,0.5);
		backdrop-filter:blur(0.25rem);
		width:100%;
		height:25rem;
		z-index:-1;
		top:4rem;
		left:-150%;
		transition:all 0.25s ease;
	}
	.navbar .nav-links ul{
		display:flex;
		flex-direction:column;
		align-items:center;
		margin:0;
		padding:0;
	}
	.navbar .nav-links li{
		display:flex;
		align-items:center;
		width:15rem;
		text-align:center;
		justify-content:center;
	}
	.mobile-menu{
		top:4rem;
		transition:all 0.25s ease;
		left:0;
	}
}
footer{
	position: relative;
	background-color:#2b2b2b;
	width:100%;
	z-index:1;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
footer .line{
	background-color:white;
}
@font-face {
	font-family: 'LeagueSpartan';
	src: url('font/LeagueSpartan-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'AnteriSignature';
	src: url('font/AnteriSignature.otf') format('opentype');
}
.bangkok{
	width:100%;
	height:50rem;
	filter:brightness(50%);
	position:absolute;
	top:0;
	object-fit:cover;
}
.title{
	color:white;
	font-family:AnteriSignature;
	font-size:3rem;
	margin:0.25rem;
}
.subtitle{
	font-family:LeagueSpartan;
	color:#a6a6a6;
	font-size:1.5rem;
	margin:1rem;
}
.top{
	position:absolute;
	left:50%;
	top:10rem;
	transform:translateX(-50%);
	z-index:1;
	text-align:center;
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.line{
	background-color:#ffde59;
	width:5rem;
	height:0.25rem;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
.content{
	background-color:white;
	width:85%;
	position:relative;
	left:50%;
	transform:translateX(-50%);
	margin-top:35rem;
	padding-top:5rem;
	padding-bottom:1rem;
}
.profil_pic{
	position:absolute;
	left:50%;
	transform:translate(-50%,-50%);
	border-radius:100%;
	width:10rem;
	height:10rem;
	border:0.25rem solid #f6f6f6;
	z-index:1;
	object-fit:cover;
}
h1{
	position:relative;
	text-align:center;
	top:0rem;
	font-family:LeagueSpartan;
	font-size:2rem;
	font-weight:lighter;
	margin-top:2rem;
}
h2{
	font-size:0.75rem;
	font-family:LeagueSpartan;
	color:white;
	font-weight:lighter;
	margin:1rem;
	text-align:center;
}
section{
	position:relative;
	margin-top:4rem;
	height:0.15rem;
	background-color:#dadada;
}
hr{
	width:5rem;
	height:0.25rem;
	background-color:black;
	border-width:0 0 0 1.5rem;
	border-color: #b2b2b2;
	border-style:solid;
}
.text{
	font-family:LeagueSpartan;
	font-size:1rem;
	text-align:center;
	margin:0;
	margin-top:4rem;
	position:relative;
	width:80%;
	left:50%;
	transform:translateX(-50%);
	font-weight:lighter;
	color:#474747;
}
.container 
{
	margin-top:4rem;
	display:flex;
	justify-content:center;
	position:relative;
}
.container .part{
	align-items:center;
	display:flex;
	flex-direction:column;
	text-align:center;
	position:relative;
	margin:1rem;
	width:20rem;
}
.logo{
	width:7.5rem;
	margin-bottom:1rem;
}
p{
	font-family:LeagueSpartan;
	font-size:1rem;
	color:#a6a6a6;
	margin-top:0.25rem;
}
.black{
	color:#474747;
}
.logo-title{
	color:black;
	font-family:LeagueSpartan;
	font-size:1.25rem;
}
@media screen and (max-width:45rem){
	.container{
		display:block;
	}
	.container .part{
		margin-top:2rem;

		margin-left:auto;
		margin-right:auto;
	}
}
.contain{
	display:flex;
	position:relative;
	margin-top:3rem;
	justify-content:center;
}
.contain hr{
	display:none;
}
.contain .entertainement{
	align-items:left;
	display:flex;
	flex-direction:column;
	position:relative;
	margin-left:1rem;
	margin-right:1rem;
	margin-top:1rem;
	width:25rem;
	top:0;
	background-color:#f6f6f6;
	border-radius:1rem;
	padding:0.5rem;
	box-shadow: 0 0 10px rgba(1,1,1,.2);
	box-sizing:border-box;
}
.entertainement img{
	width:100%;
	height:15rem;
	border-radius:1rem;
	margin-bottom:1.5rem;
	object-fit:cover;
}
@media screen and (max-width:105rem){
	.contain{
		display:flex;
		flex-direction:column;
	}
	.content .entertainement{
		margin-left:auto;
		margin-right:auto;
		position:relative;
		margin-top:1rem;
		margin-bottom:1rem;
		width:50rem;
		flex-direction:row;
	}
	.entertainement span{
		position:relative;
		width:30rem;
		margin-left:1rem;
	}
	.entertainement img{
		width:40%;
		height:10rem;
		border-radius:1rem;
		margin-bottom:1.5rem;
	}
	.contain hr{
		display:block;
	}
}
@media screen and (max-width:75rem){
	.contain{
		display:flex;
		flex-direction:column;
	}
	.entertainement img{
		width:100%;
		height:auto;
		border-radius:1rem;
		margin-bottom:1.5rem;
	}
	.contain .entertainement{
		width:85%;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		margin-bottom:1rem;
		margin-top:1rem;
		flex-direction:column;
	}
	.entertainement span{
		width:unset;
		margin-left:unset;
	}
	.contain hr{
		display:none;
	}
}
.parcours img{
	width:40%;
	border-radius:1rem;
	height:10rem;
	object-fit:cover;
	object-position:center;
}
.container-parcours{
	margin-top:3rem;
	position:relative;
	display:flex;
	align-items:center;
	flex-direction:column;
}
.parcours{
	background-color:#f6f6f6;
	padding:0.5rem;
	border-radius:1rem;
	margin-bottom:1rem;
	margin-top:1rem;
	display:flex;
	width:50rem;
	box-shadow: 0 0 10px rgba(1,1,1,.2);
	box-sizing:border-box;
}
.parcours span{
	margin-left:1rem;
	width:30rem;
}
@media screen and (max-width:75em){
	.parcours{
		width:85%;
		display:flex;
		flex-direction:column;
		align-items:left;
		margin-top:1rem;
		margin-bottom:1rem;
	}
	hr{
		display:none;
	}
	.parcours span{
		width:100%;
		margin-left:0;
		margin-top:1.5rem;
	}
	.parcours img{
		width:100%;
		height:auto;
	}
}
span button{
	margin-bottom:1rem;
	background-color:#ffc718;
	color:black;
	border:none;
	border-radius:1rem;
	width:10rem;
	height:2.5rem;
	font-family:LeagueSpartan;
	font-size:1rem;
	text-align:center;
	line-height:2.5rem;
}
span button:hover{
	background-color:#ffd759;
}

.download{
	background:#ff5050;
	border:0.1em solid #ff5050;
	width:17.5rem;
	height:2.5rem;
	color:white;
	font-family:LeagueSpartan;
	position:relative;
	border-radius:2rem;
	line-height:2.5rem;
	transition:0.5s;
	font-size:1rem;
	cursor:pointer;
	margin:0;
	margin-top:1.5rem;
	text-align:center;
}
.download:hover{
	color:white;
	background-color:#db4444;
	border-color:#db4444;
	width:19.5em;
	transition: all 0.5s ease;
}
.download-container{
	display:flex;
	justify-content:center;
}
.github{
	background-color:white;
	border-color:#575757;
	color:#575757;
}
.github:hover{
	border-color:black;
	color:black;
	background-color:white;
}
.contact-all{
	display:flex;
	justify-content:center;
	margin-top:4rem;
	margin-bottom:4rem;
	box-sizing:border-box;
}
.contact-all section{
	height:15rem;
	width:0.1rem;
	background-color: black;
	margin-left:1rem;
	margin-right:1rem;
	margin-top:0;
}
.datas input{
	height:2rem;
	font-family:LeagueSpartan;
	border-radius:0.5rem;
	border: 0.1rem solid #ccc;
	box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, .075);
	padding:0.5rem;
	background-color:white;
	width:13.75rem;
}
.datas{
	display:flex;
	justify-content:space-between;
}
.mail .send{
	height:4rem;
	background-color:#ffc718;
	border:none;
	color:white;
	font-family:LeagueSpartan;
	width:10rem;
	border-radius:0;
}
.mail .send:hover{
	background-color:#ffd759;
}
textarea{
	border:none;
	font-family:LeagueSpartan;
	border-radius:0.5rem;
	resize:none;
	border:0.1rem solid #ccc;
	box-shadow:inset 0 0.1rem 0.1rem rgba(0, 0, 0, .075);
	padding:0.5rem;
	color:black;
}
.mail{
	width:30rem;
	align-items:left;
	display:flex;
	flex-direction:column;
	position:relative;
	padding:0;
	justify-content:space-between;
	height:15rem;
}
.contain-contact{
	position:relative;
	display:flex;
	flex-direction:column;
	width:30rem;
	height:15rem;
	border-radius:1rem;
	background-color:#f6f6f6;
	overflow:hidden;
}
.contain-contact p{
	color:black;
	font-family:LeagueSpartan;
	font-size:1rem;
	color:white;
	height:1rem;
}
.illustration{
	width:20rem;
	border-radius:1rem;
	margin-bottom:1rem;
}
.contain-contact .computer{
	position:absolute;
	width:100%;
	height:100%;
	border-radius:1rem;
	object-fit:cover;
	filter:blur(0.1rem);
}
.contain-text{
	z-index:1;
	display:flex;
	flex-direction:column;
	padding:1rem;
	border-radius:1rem;
	height:100%;
	justify-content:space-between;
	background-color:rgba(0,0,0,0.5);
}
.contain-text img{
	height:1rem;
	width:1rem;
	position:relative;
	margin-right:1rem;
	object-fit:contain;
}
h3{
	font-family:LeagueSpartan;
	color:black;
	font-size:1rem;
	position:relative;
	text-align:center;
	margin-top:8rem;
	font-weight:lighter;
	width:80%;
	left:50%;
	transform:translateX(-50%);
}
@media screen and (max-width:75rem){
	.contact-all{
		display:flex;
		justify-content:center;
		flex-direction:column;
		margin-top:4rem;
		margin-bottom:4rem;
		align-items:center;
		background-color:#f6f6f6;
		width:85%;
		position:relative;
		left:50%;
		transform:translateX(-50%);
		padding:0.5rem;
		border-radius:1rem;
		box-shadow: 0 0 10px rgba(1,1,1,.2);
	}
	.contact-all section{
		display:none;
	}
	.mail{
		width:100%;
		align-items:left;
		display:flex;
		flex-direction:column;
		position:relative;
		padding:0;
		justify-content:space-between;
		height:16rem;
	}
	.contain-contact{
		position:relative;
		display:flex;
		flex-direction:column;
		width:100%;
		height:15rem;
		border-radius:1rem;
		background-color:#f6f6f6;
		overflow:hidden;
	}
	.datas input{
		height:2rem;
		font-family:LeagueSpartan;
		border-radius:0.5rem;
		border: 0.1rem solid #ccc;
		box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, .075);
		padding:0.5rem;
		background-color:white;
		width:40%;
	}
	.datas{
		margin-top: 1rem;
	}
}
html{
  scroll-behavior: smooth;
}
.unload{
	opacity:0;
	margin-top:1rem;
}
.block_portfolio{
	width:20rem;
	height:26.5rem;
	box-shadow: 0 0 10px rgba(1,1,1,.2);
	box-sizing:border-box;
	margin-left:1rem;
	margin-right:1rem;
	position:relative;
	overflow:hidden;
	cursor:pointer;
}
.block{
	display:flex;
	position:relative;
	margin-top:4rem;
	justify-content:center;
}
.block_text{
	padding:0.5rem;
}
.block_picture{
	height:15rem;
	width:100%;
	margin-bottom:1rem;
	object-fit:cover;
}
a{
	text-decoration:none;
}
.hover_animation{
	width:100%;
	height:100%;
	position:absolute;
	top:-100%;
	transition:0.25s ease-in-out;
	display:flex;
	justify-content:center;
	box-sizing:border-box;
	background-color:rgba(217,217,217,0);
}
.block_portfolio:hover .hover_animation{
	width:100%;
	height:100%;
	position:absolute;
	background-color:rgba(217,217,217,0.5);
	top:0;
	transition:0.25s ease-in-out;
	backdrop-filter:blur(2px);
}
span h1{
	color:white;
	opacity:1;
	top:20%;
	margin:0;
}
.block_bis{
	position:relative;
	display:flex;
}
@media screen and (max-width:105rem){
	.block_bis{
		flex-direction:column;
		width:47.5%;
	}
	.block_portfolio{
		margin:0;
		margin-bottom:2rem;
		width:100%;
	}
	.block{
		width:50rem;
		left:50%;
		transform:translateX(-50%);
		justify-content:space-between;
	}
}
@media screen and (max-width:75rem){
	.block{
		flex-direction:column;
		align-items:center;
		justify-content:center;
		width:85%;
	}
	.block_portfolio{
		width:100%;
		height:auto;
	}
	.block_bis{
		align-items:center;
		width:100%;
	}
}
.page_thales{
	display:none;
}
.page_web{
	display:none;
}
.page_réseau{
	display:none;
}
.page_câbles{
	display:none;
}
.page_passions1{
	display:none;
}
.page_passions2{
	display:none;
}
.page_web_picture{
	display:none;
}
.page_réseau_picture{
	display:none;
}
.page_thales_picture{
	display:none;
}
.on{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	backdrop-filter:blur(2px);
	position:fixed;
	top:0;
	left:0;
	z-index:10;
	display:block;
}
.return{
	width:5rem;
	position:relative;
	top:0;
	cursor:pointer;
	z-index:1;
	width:12.5rem;
	height:2.5rem;
	font-size:1rem;
	font-family:LeagueSpartan;
	padding:0;
	border:none;
	color:white;
	background-color:transparent;
	transition:all 0.25s ease;
}
.return:hover{
	background-color:#ffd759;
	color:black;
	transition:all 0.5s ease;
}
.précédent{
	width:5rem;
	position:relative;
	top:0;
	cursor:pointer;
	z-index:1;
	width:12.5rem;
	height:2.5rem;
	font-size:1rem;
	font-family:LeagueSpartan;
	padding:0;
	border:none;
	color:white;
	background-color:transparent;
	transition:all 0.25s ease;
}
.précédent:hover{
	background-color:#ffd759;
	color:black;
	transition:all 0.5s ease;
}
.page{
	width:85%;
	height:85%;
	background-color:white;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	position:absolute;
	background-color:#2b2b2b;
	overflow:hidden;
}
.page_contain{
	width:100%;
	height:calc(100% - 2.5rem);
	position:fixed;
	top:2.5em;
	position:absolute;
	background-color:white;
	display:flex;
	justify-content:start;
	align-items:start;
	box-sizing:border-box;
}
.project_text h1{
	margin:0;
	margin-top:1rem;
	text-align:left;
}
.project_text .line{
	margin:0;
	margin-top:0.5rem;
	min-height:0.5rem;
	background-color:black;
}
.project_text .logo-title{
	margin:0;
	margin-top:1rem;
	margin-bottom:0.5rem;
}
.project_text .download{
	width:50%;
}
.project_text .download:hover{
	width:55%;
}
.project_img{
	width:50%;
	height:100%;
	object-fit:cover;
	object-position:center;
}
.project_text{
	width:50%;
	height:100%;
	display:flex;
	flex-direction:column;
	align-items:start;
	padding:1rem;
	overflow-y:scroll;
	overflow-x:hidden;
	box-sizing:border-box;
}
.project{
	margin-top:2rem;
	display:flex;
	flex-direction:column;
}
@media screen and (max-width:80rem){
	.project_text .download{
		width:50%;
		min-width:20rem;
	}
}
.page-passions{
	width:85%;
	height:85%;
	background-color:white;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	position:absolute;
	background-color:#2b2b2b;
	overflow:hidden;
	border-radius:2rem;
}
.page_contain-passions{
	width:100%;
	height:calc(100% - 5rem);
	position:fixed;
	top:5rem;
	position:absolute;
	background-color:#f6f6f6;
	display:flex;
	flex-direction:column;
	justify-content:start;
	align-items:start;
	box-sizing:border-box;
	border-radius:2rem;
	padding:1rem;
	overflow:hidden;
}
.page-passions .return{
	position:relative;
	margin:0;
	border-radius:2rem;
	background-color:#f6f6f6;
	border:#f6f6f6 solid 0.1rem;
	color:black;
	overflow:hidden;
}
.page-passions .return:hover{
	width:15rem;
}
.contain_return{
	width:100%;
	height:5rem;
	position:absolute;
	display:flex;
	align-items:center;
	padding-left:1rem;
	padding-right:1rem;
	box-sizing:border-box;
}
.page-passions .opposite{
	background-color:transparent;
	border:white solid 0.1rem;
	border-radius:inherit;
	color:white;
}
.page-passions .opposite:hover{
	background-color:#ffd759;
	border-color:#ffd759;
	color:black;
}
.returned{
	width:5rem;
	top:0;
	cursor:pointer;
	z-index:1;
	width:12.5rem;
	height:2.5rem;
	font-size:1rem;
	font-family:LeagueSpartan;
	padding:0;
	border:none;
	transition:all 0.25s ease;
	position:relative;
	margin:0;
	margin-left:1rem;
	border-radius:2rem;
	background-color:#ffe1e1;
	overflow:hidden;
}
.contain-passions{
	background-color:white;
	display:flex;
	align-items:start;
	left:50%;
	margin-top:0.25rem;
	position:relative;
	transform:translateX(-50%);
	padding:1rem;
	width:50rem;
	overflow-y:scroll;
	height:100%;
	flex-direction:column;
	box-sizing:border-box;
	border-bottom-left-radius:2rem;
	border-bottom-right-radius:2rem;
}
.contain-top{
	border-top-right-radius:2rem;
	border-top-left-radius:2rem;
	background-color:white;
	display:flex;
	left:50%;
	position:relative;
	transform:translateX(-50%);
	padding:1rem;
	width:50rem;
	height:5rem;
	display:flex;
	align-items:center;
	box-sizing:border-box;
}
.block_bis-piano{
	width:100%;
	display:flex;
	position:relative;
}
.contain-top h1{
	margin:0;
	margin-left:0.5rem;
	font-size:1.5rem;
	margin-top:1rem;
}
.contain-passions h1{
	margin:0;
	font-size:1.5rem;
	margin-top:1rem;
	text-align:left;
}
.contain-top img{
	width:2.5rem;
}
.contain-passions .line{
	margin:0;
	margin-top:0.5rem;
	min-height:0.5rem;
	background-color:black;
}
iframe{
	width:50%;
	height:15rem;
	margin-top:1rem;
	margin-bottom:1rem;
}
@media screen and (max-width:62.5rem){
	.contain-passions{
		width:100%;
	}
	.contain-top{
		width:100%;
	}
	iframe{
		width:100%;
	}
	.none{
		display:none;
	}
	.block_bis-piano{
		flex-direction:column;
	}
}
.content-piano{
	box-shadow: 0 0 10px rgba(1,1,1,.2);
	cursor:pointer;
	margin-right:1rem;
	margin-bottom:1rem;
	width:20rem;
	display:flex;
	flex-direction:column;
	overflow:hidden;
	position:relative;
	box-sizing:border-box;
}
.hover_piano{
	width:100%;
	height:100%;
	position:absolute;
	top:-100%;
	transition:0.25s ease-in-out;
	background-color:rgba(217,217,217,0);
	display:flex;
	justify-content:center;
}
.content-piano:hover .hover_piano{
	top:0;
	transition:0.25s ease-in-out;
	backdrop-filter:blur(2px);
	background-color:rgba(217,217,217,0.5);
}
@media screen and (max-width:62.5rem){
	.page_contain{
		flex-direction:column;
	}
	.project_text{
		width:100%;
		height:75%;
	}
	.project_img{
		width:100%;
		height:25%;
	}
}
.left_pic{
	object-position:left;
}
.center_pic{
	object-position:center;
}
.galerie{
	width:100%;
	box-shadow: 0 0 10px rgba(1,1,1,.2);
	margin-bottom:1rem;
}
